
html{
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
.body {
    max-width: 900px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(177, 83, 83);
    background-color: rgb(255, 245, 245);
    font-family: 'Josefin Sans', sans-serif;
    
}


.table {
    border-collapse:collapse;
    width: 90%;
}
.tableCell {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.tableHeader {
    font-weight: normal;
}
.listItem {
list-style: none;
padding: 20px;
}
.footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.dark {
    background-color: rgb(55, 55, 85);
    color: rgb(204, 195, 184);
}
.list {
    
    border: solid rgb(241, 215, 204) 25px;
    padding: 5px;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(243, 235, 235);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    box-shadow: 10px 10px 24px 1px rgba(138,101,101,0.83);
-webkit-box-shadow: 10px 10px 24px 1px rgba(138,101,101,0.83);
-moz-box-shadow: 10px 10px 24px 1px rgba(138,101,101,0.83);
}
    
.header {
    color: rgb(189, 153, 153);
    font-style:inherit;
    text-align:center;
}

.tableCell:hover {
    background-color: #edeeed;;
}

.tableHeader {
    background-color: #d3a8a8;
    font-size: larger; color: rgb(56, 48, 48);
}

.subHeader {
    padding: 30px;
    font-size:x-large;
    font-style: initial;
    color: rgb(112, 77, 77)
}

.footer {
    color: #4e4040;
}

.button {
    size: 10px;
    margin: 20px;
    background-color: #d3c7c7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: none;
}

